# Gunicorn config settings

bind = '{{ gunicorn_bind_address }}'
workers = {{ gunicorn_workers }}

loglevel = '{{ gunicorn_log_level }}'
accesslog = '{{ gunicorn_log_dir }}/access.log'
errorlog = '{{ gunicorn_log_dir }}/error.log'

reload = {% if gunicorn_reload %}True{% else %}False{% endif %}

user = {{ gunicorn_user_name }}
group = {{ gunicorn_group_name }}
