[program:gunicorn]
command=mkdir /var/run/gunicorn && /usr/local/bin/gunicorn {{ gunicorn_wsgi_application }} -c {{ gunicorn_config_dir }}/gunicorn.conf.py
directory={{ gunicorn_project_dir }}
autostart=true
autorestart=true
redirect_stderr=true
