[program:gunicorn]
command={{ gunicorn_install_path }}/gunicorn {{ gunicorn_wsgi_application }} -c {{ gunicorn_config_dir }}/gunicorn.conf.py
directory={{ gunicorn_project_dir }}
autostart=true
autorestart=true
redirect_stderr=true
{% if gunicorn_django_settings %}environment=DJANGO_SETTINGS_MODULE="{{ gunicorn_django_settings }}"{% endif %}
