[program:gunicorn]
command=/usr/bin/gunicorn {{ gunicorn_wsgi_application }} -c {{ gunicorn_config_dir }}/gunicorn.conf.py
directory={{ gunicorn_project_dir }}
user={{ gunicorn_user_name }}
autostart=true
autorestart=true
redirect_stderr=true
